- form_for [:admin, @book] do |f|
  = render :partial => "/shared/admin/error_messages", :locals => { :object => @book, :include_object_name => true }
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :artist_id
    = f.collection_select :artist_id, Artist.all, :id, :fullname, { :prompt => "Select an artist" }
  .field
    = f.label :writer_id
    = f.collection_select :writer_id, Writer.all, :id, :fullname, { :prompt => "Select a writer, if any" }
  .field
    = f.label :cover180
    = render :partial => "/shared/admin/image_picker", :locals => { :f => f, :field => :cover180_id, :image => @book.cover180, :toggle_image_display => false }
  .field
    = f.label :cover280
    = render :partial => "/shared/admin/image_picker", :locals => { :f => f, :field => :cover280_id, :image => @book.cover280, :toggle_image_display => false }
  .field
    = f.label :gallery_id
    = f.collection_select :gallery_id, Gallery.all, :id, :name
  = render :partial => "/shared/admin/form_actions", :locals => { :f => f, :continue_editing => false, :delete_title => t('admin.books.book.delete'), :delete_confirmation => t('shared.admin.delete.message', :title => @book.title) }
