- content_for :title do
  = @artist.fullname
  in Pictorical, illustrated books.

- content_for :meta_description do
  %meta{:content => "Books illustrated by #{@artist.name}. Pictorical publishes the world's greatest stories illustrated by the new generation of artists.", :name => "description"}
  %link{:rel => "canonical", :href => full_url_for(@artist) }

  -# Canonical URLs are different for Google than Facebook. Please dont change.
  -# Canonical URL for Facebook: http://pictorical.com/artists/1
  -# Canonical URL for Google: http://pictorical.com/artists/1-Frida-Kahlo

- content_for :opengraph do
  %meta{:content => @artist.fullname, :property => "og:title"}
  %meta{:content => "author", :property => "og:type"}
  %meta{:content => "http://pictorical.com/artists/#{@artist.id}", :property => "og:url"}
  %meta{:content => "http://pictorical.com#{@artist.photo280.url}", :property => "og:image"}
  %meta{:content => "#{PictoricalSettings.site_name}", :property => "og:site_name"}
  %meta{:content => "180684778621375", :property => "fb:app_id"}

- content_for :sidebar do

  .section.bookinfo
    = image_tag @artist.photo280.url, :class => "face"
    %h1
      = @artist.fullname
    %h2
      Artist
    .share
      Do you like
      = @artist.first_name + "'s work?"
      = facebooklike( '/artists/' + @artist.id.to_s ).html_safe

- for @book in @artist.books
  = render "shared/covers"