.candidate{:style => "margin-bottom: 1.5em"}
  .info
    = candidate[:name]
    ·
    = candidate[:country]
    ·
    = mail_to candidate[:email], candidate[:email]
  .url
    = link_to candidate[:portfolio], candidate[:portfolio]
  .token
    Token:
    = candidate[:token]
    ·
    Has refered:
    = candidate.has_refered candidate
  .referral
    Refered by:
    - if candidate[:referral].nil?
      none
    -else
      = candidate[:referral]
    
