- form_for [:admin, @story] do |f|
  = render :partial => "/shared/admin/error_messages", :locals => {:object => @story,:include_object_name => true}
  .field
    = f.label :title
    = f.text_field :title, :class => 'larger widest'
  .field
    = f.label :artist_id
    = f.collection_select :artist_id, Artist.all, :id, :fullname
  .field
    = f.label :writer_id
    = f.collection_select :writer_id, Writer.all, :id, :fullname
  = render :partial => "/shared/admin/form_actions",:locals => {:f => f,:continue_editing => false,:delete_title => t('admin.stories.story.delete'),:delete_confirmation => t('shared.admin.delete.message', :title => @story.title)}
