- content_for :title do
	= @book.title
	in Pictorical, illustrated stories and books

- content_for :meta_description do
  - !@book.writer.nil? ? @has_writer =  "by #{@book.writer}" : @has_writer = ""
  %meta{:content => "'#{@book.title}'#{@has_writer}, illustrated by #{@book.artist}. Pictorical publishes the world's greatest stories illustrated by the new generation of artists.", :name => "description"}  

- content_for :opengraph do
	%meta{:content => @book.title, :property => "og:title"}
	%meta{:content => "book", :property => "og:type"}
	%meta{:content => "http://www.pictorical.com/stories/#{@book.to_param}",:property => "og:url"}
	%meta{:content => @book.cover280.url, :property => "og:image"}
	%meta{:content => "Pictorical", :property => "og:site_name"}

- content_for :sidebar do
  .item
    .cover
      = image_tag @book.cover280.url
    .tail.white
      = image_tag "tail-top.png"
    .balloon.white
      %h1
        = @book.title
        - if @book.writer
          %h2
            by
            = link_to @book.writer.fullname, @book.writer
        %h2
          illustrated by
          = link_to @book.artist.fullname, @book.artist
        .like
          Do you like this book?
          = facebooklike( url_for @book ).html_safe
        .share
          Share this book with a friend
          = facebookshare( url_for @book ).html_safe

  .item
    .balloon.face{:style => "background: url('#{@book.artist.photo280.url}');"}
    .tail.white
      = image_tag "tail-top.png"
    .balloon.white
    %h1
      = link_to @book.artist.fullname, @book.artist
    %h2
      artist
    .more_stories
      = link_to "more stories illustrated by " + @book.artist.fullname, @book.artist
    .like
      Do you like
      = @book.artist.first_name
      's work?

  - if @book.writer 
    .item
      .balloon.face{:style => "background: url('#{@book.writer.photo280.url}');"}
      .tail.white
        = image_tag "tail-top.png"
      .balloon.white
      %h1
        = link_to @book.writer.fullname, @writer.writer
      %h2
        artist
      .more_stories
        = link_to "more stories by " + @book.writer.fullname, @book.writer
      .like
        Do you like
        = @book.writer.last_name
        's stories?

- content_for :main do
  - @book.gallery.gallery_entries.each do |screenshot|
    .ipad
      .screen
        = image_fu screenshot.image, nil 

  .inner.buy
    To read this story in your iPad or iPhone, search for
    %span.search
      = image_tag("ibooks-search-1.png")
      %span.search-text
        = @book.title + " Pictorical"
      = image_tag("ibooks-search-3.png")
      %span.post_text
        in the iBookstore
    #howto
      = image_tag("book-howto.png")