.book
  .cover
    = link_to image_tag(@story.cover180url), @story
  .info
    = link_to @story.title, @story
    %br/
    - if @story.writer
      by #{link_to @story.writer.fullname, @story.writer}
      %br/
    illustrated by #{link_to @story.artist.fullname, @story.artist}
    %br/
    = facebooklike( url_for(@story) ,'margin-top: 3px' )
