.book
  .cover
    = link_to ( image_tag @book.cover180.url ), @book
  .info
    .title
      = link_to @book.title, @book
    - if !@book.writer.nil?
      .writer
        by
        = link_to @book.writer.fullname, @book.writer
    .artist
      illustrated by
      = link_to @book.artist.fullname, @book.artist
    .like
      = facebooklike( '/books/' + @book.id.to_s  , 'margin-top: 3px' ).html_safe