&copy; 2010 Pictorical, Inc. 路 Pictorical is a trademark of Pictorical, Inc. 路
= link_to "Copyright", "#" #- TO DO
路
= link_to "Privacy Policy", "#" #- TO DO
路
= link_to "Terms and Conditions", "#" #- TO DO
= render '/shared/zendesk'
= render '/shared/clicky' unless local_request?