= t('.copyright').html_safe
= Time.now.year
\Pictorical Ltd 路 Pictorical is a trademark of Pictorical Ltd 路
= link_to "Copyright", "#"
\路
= link_to "Privacy Policy", "#"
\路
= link_to "Terms and Conditions", "#"
