%title= yield :title
%link{:href => "/favicon.ico", :rel => "shortcut icon"}
%meta{:charset => Refinery::Application.config.encoding}
= render '/shared/meta_keywords'
= yield :meta_description
= yield :opengraph # facebook meta
= javascript_include_tag :defaults
= csrf_meta_tag
= stylesheet_link_tag "application"
