#logo
  %h1
    = link_to ( image_tag "logo-small.png" ), "http://pictorical.com"
    = facebookpagelike.html_safe
#nav
  = link_to "About Us"
  ·
  = link_to "FAQ"
  ·
  = link_to "Contact"
  ·
  %strong
    = link_to "Artists: Apply here", "http://artists.pictorical.com"