= javascript_include_tag "//asset0.zendesk.com/external/zenbox/zenbox-2.0.js"
= stylesheet_link_tag "//asset0.zendesk.com/external/zenbox/zenbox-2.0.css"
:javascript
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "#{PictoricalSettings.dropbox_id}",
      url:         "#{PictoricalSettings.url}",
      tabID:       "#{PictoricalSettings.tab_id}",
      tabColor:    "#{PictoricalSettings.tab_color}",
      tabPosition: "#{PictoricalSettings.tab_position}"
    });
  }
