= form_for (candidate, :remote => true, :url => {:controller => "candidates", :action => "create"}) do |f|
  
  %ul#error_explanation

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :country
    = country_select("candidate", "country")
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :portfolio
    = f.text_field :portfolio, :value => "http://"
    
  .actions
    = image_submit_tag "send.png"
