- content_for :title do
  Pictorical, the world best stories illustrated

- content_for :meta_description do
  %meta{:content => "Pictorical publishes the world's greatest stories illustrated by the new generation of artists.", :name => "description"}
  %link{:rel => "canonical", :href => 'http://pictorical.com' }


- content_for :opengraph do
  %meta{:content => "#{PictoricalSettings.site_name}", :property => "og:title"}
  %meta{:content => "website", :property => "og:type"}
  %meta{:content => "http://pictorical.com", :property => "og:url"}
  %meta{:content => "http://pictorical.com/images/pictorical-profile-pic.png", :property => "og:image"}
  %meta{:content => "#{PictoricalSettings.site_name}", :property => "og:site_name"}
  %meta{:content => "180684778621375", :property => "fb:app_id"}

- content_for :sidebar do
      
  .section
    %h2
      Earth's greatest stories
      %br
      crowd-illustrated by emerging artists
      %br
      around the world
      
  .section
    = image_tag "ipad-mermaid.jpg", :class => "ipad280"
    
  .section
    %h2
      Read great stories.
      %br
      Support promising artists.
    Buy our eBooks for your iPad from just $0.99 in the Apple iBookstore.
    Artists get half of the profits.
    
  .section
    %h2
      %strong
        Artists: Illustrate books with us
    Be published worldwide, and earn half of the profits.
    = link_to "Learn more", "http://artists.pictorical.com"
    %p
      Do you have artist friends?
      = link_to "Share the good news", ""
      
  .section.facebook
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "250", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?id=127311773973735&amp;width=300&amp;connections=10&amp;stream=false&amp;header=false&amp;height=250"}
  
  .section
    %h2
      About Pictorical
    Pictorical is a new company that publishes the world's greatest stories, illustrated by artists around the world. We look to enhance the storytelling experience of our readers and give the chance to artists to earn a living doing art.<br>
    = link_to "More.", about_us_path
        

- for @book in @books
  = render "shared/covers"