- content_for :title do
  Pictorical, the world best stories illustrated

- content_for :meta_description do
  %meta{:content => "Pictorical publishes the world's greatest stories illustrated by the new generation of artists.", :name => "description"}
  %link{:rel => "canonical", :href => 'http://pictorical.com' }


- content_for :opengraph do
  %meta{:content => "Pictorical", :property => "og:title"}
  %meta{:content => "website", :property => "og:type"}
  %meta{:content => "http://pictorical.com", :property => "og:url"}
  %meta{:content => "http://pictorical.com/images/pictorical-profile-pic.png", :property => "og:image"}
  %meta{:content => "Pictorical", :property => "og:site_name"}
  %meta{:content => "180684778621375", :property => "fb:app_id"}

- content_for :sidebar do
      
  .section
    %h2
      Earth's greatest stories
      %br
      crowd-illustrated by emerging artists
      %br
      around the world
      
  .section
    = image_tag "ipad-mermaid.jpg", :class => "ipad280"
    
  .section
    %h2
      Read great stories.
      %br
      Support promising artists.
    Buy our eBooks for your iPad from just $0.99 in the Apple iBookstore.
    Artists get half of the profits.
  
  
  .section.hidden
    %h2
      %strong
        Artists: Illustrate books with us
    %p
      Be published worldwide and earn half of the profits.
    %p
      = link_to "Apply now", "http://artists.pictorical.com", :class => "applynow"
      it's free and takes 30 seconds
    %p
      Do you have artist friends?
      = link_to "Share the good news", ""
      
  .section.facebook
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "250", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?id=127311773973735&amp;width=300&amp;connections=10&amp;stream=false&amp;header=false&amp;height=250"}
  
  .section
    %h2
      About Pictorical
    %p
      Pictorial publishes the world’s greatest stories illustrated by the world’s most promising artists. Our mission is to enhance the storytelling experience and give artists the rare opportunity to earn a living doing what they love: art.
    %p
      %b
        = link_to "About Us", about_us_path
        
  .section
    %h2
      How can I buy the books?
    %p
      If you have an iPad, you can buy our books by searching for Pictorical in Apple iBookstore.
    %p
      Currently the iBookstore is open in the US, UK, Canada, Australia, France and Germany.
    %p  
      We are working hard to bring these beautiful illustrated books to more countries and platforms.
      = link_to "Follow us in Facebook", "http://facebook.com/Pictorical"
      and we will keep you updated.
    %p
      %b
        = link_to "Frequently Asked Questions", faq_path, :class => "nobr"

  .section
    %h2
      Write About Us
    %p
      We make it easy for you to write about Pictorical in your blog: Interesting facts, high resolution covers and screenshots, insights about the ebook industry, etc
    %p
      %b= link_to "Press Kit", press_kit_path

  .section
    %h2
      Contact Us
    %p
      We want to hear from you. Drop us a line at
      = mail_to "hello@pictorical.com", "hello@pictorical.com", :encode => "javascript"
    %p
      If you want to illustrate books with us, we have a
      = link_to "special page", "/apply", :class => "nobr"
      for you.

- for @book in @books
  = render "shared/covers"