- content_for :title do
  Pictorical, the world best stories illustrated

- content_for :meta_description do
  %meta{:content => "Pictorical publishes the world's greatest stories illustrated by the new generation of artists.", :name => "description"}

- content_for :opengraph do
  %meta{:content => "Pictorical", :property => "og:title"}
  %meta{:content => "website", :property => "og:type"}
  %meta{:content => "http://www.pictorical.com", :property => "og:url"}
  %meta{:content => "Pictorical", :property => "og:site_name"}

- content_for :love do
  %h1
    We
    %strong &#x2766;
    illustrated stories

- content_for :sidebar do
  .item
    .ipad
      = image_tag "ipad-iphone.png"
    .tail.dark
      = image_tag "tail-top.png"
    .balloon.dark
      %h2
        Read stories
        %br
        Support new artists
      %h3
        Buy our ebooks for just $0.99 in the Apple iBookstore.
      %h3
        Artists get half of the profits.
  .item
    .balloon.darkred
      %h2
        Artists:
        %br
        Illustrate a story
      %h3
        Hundreds of stories for all ages to choose from. 
      %h3
        Get half of the profits, monthly.
      .centered
        = link_to ( image_tag "button-apply-now.png" ), "http://artists.pictorical.com" 
  .item
    .balloon.blue
      %a.twitter{:href=>"http://twitter.com/Pictorical"}
        #twitter
          latest from our Twitter feed:
          .twitter-sep
          .twitter-line= Twitter.user_timeline("pictorical").first.text
          .twitter-sep
          .twitter-line= Twitter.user_timeline("pictorical").second.text
    .tail.blue
      = image_tag "tail.png" 
    = link_to image_tag( "Twitter.png", :width => '106' ), "http://twitter.com/Pictorical" 
  .item
    .balloon.white
      #facebook
        %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?id=127311773973735&amp;width=260&amp;connections=10&amp;stream=false&amp;header=false&amp;height=255"}
    .tail.white
      = image_tag "tail.png"  
    = link_to image_tag("Facebook.png", :width => '106'), "http://facebook.com/Pictorical"

- content_for :main do
  - for @book in @books do
    = render "shared/covers" #- We will have to do a pagination, but not yet