- content_for :title do
  = @writer.fullname
  in Pictorical, illustrated books.

- content_for :meta_description do
  %meta{:content => "Books by #{@writer.name}. Pictorical publishes the world's greatest stories illustrated by the new generation of artists.", :name => "description"}
  %link{:rel => "canonical", :href => full_url_for(@writer) }

  -# Canonical URLs are different for Google than Facebook.
  -# Canonical URL for Facebook: http://pictorical.com/artists/1
  -# Canonical URL for Google: http://pictorical.com/artists/1-Frida-Kahlo

- content_for :opengraph do
  %meta{:content => @writer.fullname, :property => "og:title"}
  %meta{:content => "author", :property => "og:type"}
  %meta{:content => "#{request.protocol}#{request.host}/#{@writer.class.name.underscore.humanize.pluralize}//#{@writer.id}", :property => "og:url"}
  %meta{:content => "#{request.protocol}#{request.host}#{@writer.photo280.url}", :property => "og:image"}
  %meta{:content => "#{PictoricalSettings.site_name}", :property => "og:site_name"}
  %meta{:content => "180684778621375", :property => "fb:app_id"}

- content_for :love do
  %h1
    We
    %strong &#x2766;
    = @writer.fullname

- content_for :sidebar do
  .item
    .balloon.face{:style => "background: url('#{@writer.photo280.url}');"}
    - if !@writer.bio.empty?
      .tail.yellow
        = image_tag "tail-top.png"
      .balloon.yellow
        = @writer.bio.html_safe
  .item.person
    .balloon.white
      .like
        Do you like
        = @writer.last_name
        's stories?
      = facebooklike( '/writers/' + @writer.id.to_s ).html_safe

- content_for :main do
  .inner.white><
    - for @book in @writer.books
      = render "shared/covers"