- content_for :title do
  = @writer.fullname
  in Pictorical, illustrated books.

- content_for :meta_description do
  %meta{:content => "Books by #{@writer.name}. Pictorical publishes the world's greatest stories illustrated by the new generation of artists.", :name => "description"}
  %link{:rel => "canonical", :href => full_url_for(@writer) }

  -# Canonical URLs are different for Google than Facebook.
  -# Canonical URL for Facebook: http://pictorical.com/artists/1
  -# Canonical URL for Google: http://pictorical.com/artists/1-Frida-Kahlo

- content_for :opengraph do
  %meta{:content => @writer.fullname, :property => "og:title"}
  %meta{:content => "author", :property => "og:type"}
  %meta{:content => "http://pictorical.com/writers/#{@writer.id}", :property => "og:url"}
  %meta{:content => "http://pictorical.com#{@writer.photo280.url}", :property => "og:image"}
  %meta{:content => "#{PictoricalSettings.site_name}", :property => "og:site_name"}
  %meta{:content => "180684778621375", :property => "fb:app_id"}



- content_for :sidebar do

  .section.bookinfo
    = image_tag @writer.photo280.url, :class => "face"
    %h1
      = @writer.fullname
    %h2
      Writer
    .share
      Do you like
      = @writer.first_name + "'s stories?"
      = facebooklike( '/writers/' + @writer.id.to_s ).html_safe

- for @book in @writer.books
  = render "shared/covers"