.item
  .cover
    %img{:src => @story.cover280.url}/
  .tail.white= image_tag("tail-top.png")
  .balloon.white
    %h1= @story.title
    - if @story.writer
      %h2
        by #{link_to @story.writer.fullname, @story.writer}
    %h2
      illustrated by #{link_to @story.artist.fullname, @story.artist}
    %p Do you like this story?
    = "#{facebooklike url_for @story}".html_safe
    %p Share this story with a friend
    %p
      = "#{facebookshare url_for @story}".html_safe
.item
  .balloon.face{:style => "background: url('#{@story.artist.photo280.url}');"}
    \&nbsp;
  .tail.white= image_tag("tail-top.png")
  .balloon.white
    %h1= link_to @story.artist.fullname, @story.artist
    %h2 artist
    %p= link_to "more stories illustrated by " + @story.artist.fullname, @story.artist
    %p
      Do you like #{@story.artist.first_name}'s work?
    = "#{facebooklike url_for @story.artist}".html_safe
- if @story.writer
  .item
    .balloon.face{:style => "background: url('#{@story.writer.photo280.url}');"}
      \&nbsp;
    .tail.white= image_tag("tail-top.png")
    .balloon.white
      %h1= link_to @story.writer.fullname, @story.writer
      %h2 writer
      %p= link_to "more stories by " + @story.writer.fullname, @story.writer
      %p
        Do you like #{@story.writer.last_name}'s stories?
      = "#{facebooklike url_for @story.writer}".html_safe
