- @story.gallery.gallery_entries.each do |screenshot|
  .ipad
    .screen
      = image_fu screenshot.image, nil 


.inner.buy{:align => "center"}
  %p To read this story in your iPad or iPhone, search for
  %p
    %span{:style => "vertical-align: middle;"}
    %span.search{:style => "vertical-align: middle;"}
      = image_tag("ibooks-search-1.png")
      %span.search-text
        = @story.title + " Pictorical"
      = image_tag("ibooks-search-3.png")
    %span{:style => "vertical-align: middle; white-space:nowrap;"} in the iBookstore
= image_tag("book-howto.png")
