!!! Strict
%html{:lang => "en", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://opengraphprotocol.org/schema/"}
  %head
    = render "/shared/head"
  %body
    #topbar
      .inner
        Artists: Illustrate books with Pictorical, be published worldwide and earn half of the profits.
        = link_to "Apply now"
        takes 30 seconds.
    #wrap
      #sidebar
        #header
          %h1
            =link_to "Pictorical", "/"
            = facebookpagelike.html_safe
        = yield :sidebar
      #main
        = yield
    #footer
      = render "/shared/footer"