!!! Strict
%html{:lang => "en", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://opengraphprotocol.org/schema/"}
  %head
    = render "/shared/head"
    = stylesheet_link_tag "application"
    
  %body
    = render "/shared/topbar"
    #wrap
      #sidebar
        #header
          %h1
            =link_to "Pictorical", "/"
            = facebookpagelike.html_safe
        = yield :sidebar
      #main
        = yield
    #footer
      = render "/shared/footer"